apiVersion: v1
kind: Service
metadata:
  name: weather-app-service
spec:
  type: NodePort
  selector:
    app: weather-app
  ports:
    - port: 80        # service port
      targetPort: 80 # container port
      nodePort: 30080  # fixed NodePort (optional)

